.data-header-title {
  font-size: 1.6rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.data-header-help-icon {
  padding-right: 0.5rem;
}

.add-data-source-container {
  background-color: #f8f9fa;
  height: 100vh;
}

.add-data-source-step {
  height: 6rem;
  padding: 1rem;
}

.add-data-source-step span {
  margin: 0.3rem;
}

.add-data-source-card-upload-file {
  padding: 2rem;
  /* height: 37rem; */
}

.add-data-source-card-upload-file > .add-data-source-card-upload-tips {
  border: dashed 2px #17a2b8;
  height: 15rem;
}

.nly-data-analysis-padding-1 {
  padding: 1rem;
}

.nly-data-analysis-margin-1 {
  margin-top: 1rem;
}

.nly-data-analysis-margin-2 {
  margin-top: 2rem;
}

.nly-data-analysis-opacity-1 {
  opacity: 0.5;
}

.nly-data-analysis-backgroup-gray {
  background-color: #f8f9fa;
}

.nly-data-analysis-upload-file-input {
  display: none;
}


.nly-data-analysis-preview-data-table {
  white-space:nowrap;
  overflow:hidden;
  word-break:keep-all;
  min-width: 5rem;
}
